# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment
.env
.env.production
.env.local

# macOS
.DS_Store

# editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# astro preview artifacts
.astro/preview.log
.astro/preview2.log
.astro/preview.json